<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/v-<%= version %>/css/style.css">
        <link rel="icon" type="image/png" href="/img/icon.png">
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div class="page-header">Project wizard</div>
                <div class="page-body">
                    <div class="front-image">
                        <img src="/img/code.png" alt="A piece of a software application"
                            width="300" height="300"/>
                        <div class="planning">
                            Failing to plan is planning to fail. Alan Lakein.
                        </div>
                    </div>
                    <p>
                        This small application is used for finding out the most basic
                        requirements in a software development project.
                    </p>
                    <p>
                        It asks a set of important questions. It only
                        asks relevant questions depending on the previous answers.
                    </p>
                    <p>
                        Questions can be <strong>skipped</strong>. The set
                        of answers can be reviewed any time. <strong>"I do not know"</strong> is
                        also an acceptable answer.
                    </p>
                </div>
                <div class="page-footer front-footer">
                    <a class="action-button" href="/questions">Begin</a>
                </div>
                <div class="page-body">
                    <p>
                        The application asks questions in different topics: <strong>technical</strong>,
                        <strong>existing solution</strong>, <strong>planned schedule</strong>, <strong>current team</strong>.
                        It does not ask anything about your idea and there is no need to worry that
                        your business secrets will be revealed. You can always skip a question if you
                        consider it inapproriate.
                    </p>
                    <p>
                        At the end of the questionnaire you can optionally <strong>save</strong> the results and get
                        a <strong>shareable link</strong> with an option to download and save a
                        <strong>PDF file</strong> with the results.
                    </p>
                </div>
                <div class="page-body copyright">
                    <div>The application favicon was made by <a href="http://www.freepik.com/" title="Freepik"
                        target="_blank">Freepik</a> on <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>. The application
                        icons are from <a href="http://fontawesome.io/" target="_blank">Font-Awesome</a>. All other
                        graphics is part of the application and licensed under the MIT license.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
