<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/v-<%= version %>/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="page">
                <div class="page-header"><%= title %></div>
                <div class="help-block">
                    The web browser you are using is outdated. This application does
                    not work with old browsers. You should try to use the latest version
                    of Microsoft Edge, Apple Safari, Google Chrome or Mozilla Firefox, or an
                    equivalent modern browser.
                </div>
            </div>
        </div>
    </body>
</html>
